@charset "UTF-8";
* { box-sizing: border-box !important; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

body { min-width: 1280px; font-family: "微软雅黑"; padding-top: 60px; }

header { opacity: 0.9; position: fixed; width: 100%; z-index: 10; left: 0; top: 0; background-color: #fff; height: 60px; line-height: 60px; }
header .logo { float: left; display: inline-block; height: 36px; width: 150px; padding-top: 5px; text-align: right; margin-left: 60px; margin-top: 12px; font: 21px "黑体"; background: url("../img/logo.png") left top no-repeat; }
header ul { display: inline-block; float: right; margin-right: 60px; }
header ul li { font-size: 14px; display: inline-block; width: 65px; height: 60px; text-align: center; }
header ul li a { text-decoration: none; color: #393a3a; }
header ul li + li { margin-left: 30px; }
header ul li.on, header ul li:hover { border-bottom: 4px solid #e7504d; }
header ul li.on a, header ul li:hover a { color: #e7504d; }
header ul li.login { background: url("../img/login.png") left center no-repeat; }
header ul li.login a { color: #e7504d; }
header ul li.login:hover { border-bottom: none; }

main .show { position: relative; width: 100%; height: 690px; background: url("../img/show.png") center center no-repeat; background-size: cover; z-index: 1; }
main .show .show-content { position: absolute; top: 230px; left: 10%; z-index: 3; }
main .show .show-content h1 { font-size: 60px; color: #fff; margin-bottom: 28px; }
main .show .show-content p { color: #fff; font-size: 21px; }
main .show .show-content a { color: #fff; display: inline-block; text-decoration: none; font-size: 30px; width: 330px; height: 64px; line-height: 64px; background-color: #e7504d; text-align: center; margin-top: 65px; transition: all 1s; }
main .show .show-content a:hover { color: #e7504d; background-color: #fff; }
main .show::after { content: ' '; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.2); }
main .introduce { height: 250px; background-color: #fff; padding: 45px 70px 0; }
main .introduce div { position: relative; height: 140px; width: 25%; display: inline-block; float: left; }
main .introduce div img, main .introduce div p { display: block; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); }
main .introduce div div { height: 60px; width: 100%; position: absolute; bottom: 0; left: 0; border-left: 2px solid #999; }
main .introduce div div p { width: 11em; text-align: center; font-size: 14px; color: #767777; }
main .introduce div div.shenghuo { border: none; }
main .unknow { position: relative; height: 360px; background-color: #ededed; }
main .unknow h2, main .unknow img { position: absolute; left: 50%; transform: translateX(-50%); top: 90px; transition: all 1s; }
main .unknow img:hover { transform: rotate(90deg); }
main .unknow h2 { width: 100%; top: 225px; font: 54px "黑体"; color: #d0d0d0; text-align: center; }
main .gallary { height: 605px; background-color: #f7f7f7; padding-top: 107.5px; }
main .gallary div.container { width: 960px; height: 100%; margin: 0 auto; }
main .gallary div.container figure { display: inline-block; float: left; width: 25%; position: relative; transition: margin-top 1s; }
main .gallary div.container figure img { width: 222px; height: 340px; padding: 15px 10px; background-color: #fff; margin-left: 9px; }
main .gallary div.container figure:hover { margin-top: -15px; }
main .gallary h3, main .gallary h4 { text-align: center; margin-top: 10px; }
main .gallary h4 { font-size: 14px; color: #c7c7c7; margin-top: 5px; margin-bottom: 5px; }
main .gallary h3.sh { margin-left: 16px; font-size: 21px; letter-spacing: 15px; margin-top: 3px; }
main .time { height: 565px; position: relative; }
main .time .intro, main .time .pic { display: inline-block; height: 100%; text-align: center; }
main .time .pic { position: relative; width: 66.66%; background: url("../img/time.png") center center no-repeat; background-size: cover; color: #fff; }
main .time .pic h1 { font-size: 50px; }
main .time .pic h3 { font-size: 40px; text-transform: uppercase; }
main .time .pic p { font-size: 22px; margin-bottom: 20px; }
main .time .pic::after { content: ''; border-right: 30px solid #fff; border-top: 20px solid transparent; border-bottom: 22px solid transparent; position: absolute; top: 50%; right: 0; transform: translateY(-50%); }
main .time .intro { position: absolute; right: 0; top: 0; width: 33.33%; }
main .time .intro h3 { font-size: 22px; margin-bottom: 30px; }
main .time .intro h3 span { color: #e7504d; font-weight: bold; }
main .time .intro p { font-size: 12px; line-height: 28px; color: #aaa; text-align: left; letter-spacing: 2px; margin-bottom: 45px; }
main .time .intro a { display: block; text-decoration: none; color: #e7504d; border: 1px solid #e7504d; width: 50%; padding: 10px 15px; margin-left: 50%; transform: translateX(-50%); margin-bottom: 25px; transition: all 1s; }
main .time .intro a:hover { color: #fff; background-color: #e7504d; }
main .time .intro li { display: inline-block; width: 10px; height: 10px; border-radius: 50%; border: 1px solid #919191; margin-right: 12px; }
main .time .intro li.on { background-color: #919191; }
main .time .content { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
main .about { height: 521px; width: 100%; }
main .about .container1, main .about .container2, main .about .container3 { display: inline-block; float: left; width: 33.33%; height: 100%; position: relative; text-align: center; }
main .about .container1 div, main .about .container2 div, main .about .container3 div { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
main .about .container1 a, main .about .container2 a, main .about .container3 a { display: inline-block; width: 100%; border: 1px solid #fff; padding: 10px 15px; text-decoration: none; margin-top: 28px; }
main .about .container1 { color: #fff; background-color: #e7504d; }
main .about .container1 a { color: #fff; border: 1px solid #fff; transition: all 1s; }
main .about .container1 a:hover { color: #e7504d; background-color: #fff; }
main .about .container1 hr { background-color: #fff; }
main .about .container2 { color: #000; }
main .about .container2 a { color: #e7504d; border: 1px solid #e7504d; transition: all 1s; }
main .about .container2 a:hover { color: #fff; background-color: #e7504d; }
main .about .container2 hr { background-color: #a9a9a9; }
main .about .container3 { background: url("../img/run.jpg") center center no-repeat; background-size: cover; }
main .about .container3:after { content: ''; border-left: 30px solid #fff; border-top: 20px solid transparent; border-bottom: 22px solid transparent; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
main .about .container3:before { content: ' '; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.4); z-index: 0; }
main .about h3 { font: 21px "黑体"; margin-bottom: 24px; }
main .about hr { width: 30px; position: absolute; left: 50%; transform: translateX(-50%); }
main .join { position: relative; width: 100%; height: 750px; }
main .join div.top { width: 50%; text-align: center; margin: 115px auto 0; }
main .join div.top h3 { font-size: 21px; margin-bottom: 10px; }
main .join div.top hr { margin: 0 auto 15px; width: 30px; height: 2px; border: 1px solid #e7504d; background-color: #e7504d; }
main .join div.top p { width: 35em; font-size: 12px; color: #aaa; margin: 0 auto; }
main .join div.bottom { width: 70%; margin: 105px auto 0; }
main .join div.bottom div.container { width: 28%; display: inline-block; float: left; margin-right: 5%; }
main .join div.bottom div.container h4 { font-size: 14px; font-weight: bold; margin-bottom: 25px; }
main .join div.bottom div.container p { font-size: 12px; }
main .join div.bottom div.container a { display: inline-block; padding-left: 15px; float: right; text-decoration: none; font-size: 12px; color: #231815; background: url("../img/da.png") left center no-repeat; }
main .join div.bottom div.container a:hover { color: #e7504d; }
main .join div.bottom div.container div { position: relative; margin-bottom: 30px; color: #231815; }
main .join div.bottom form { width: 66%; display: inline-block; float: left; }
main .join div.bottom form input { background-color: #ededee; border: none; height: 42px; padding-left: 15px; margin-bottom: 16px; font-family: "微软雅黑"; }
main .join div.bottom form input[type="text"] { width: 45%; }
main .join div.bottom form input:nth-child(odd) { margin-right: 5%; }
main .join div.bottom form textarea { background-color: #ededee; width: 96%; height: 120px; margin-bottom: 16px; border: none; padding: 10px 0 0 15px; }
main .join div.bottom form input[type="submit"] { width: 96%; border: none; cursor: pointer; transition: all 1s; font-weight: bold; }
main .join div.bottom form input[type="submit"]:hover { background-color: #e7504d; color: #fff; }

footer { width: 100%; height: 415px; }
footer div.top { height: 360px; background-color: #33373e; }
footer div.top .container { width: 30%; margin: 0 auto; padding-top: 90px; text-align: center; color: #fff; font-family: "微软雅黑"; }
footer div.top .container h3 { font-size: 21px; margin-bottom: 5px; }
footer div.top .container p { font-size: 12px; line-height: 16px; font-family: "宋体"; margin-bottom: 30px; }
footer div.top .container input { height: 42px; margin-bottom: 36px; }
footer div.top .container input[type="text"] { float: left; width: 80%; background-color: #fff; border: none; padding-left: 10px; }
footer div.top .container input[type="submit"] { float: right; width: 20%; background-color: #707279; color: #fff; border: none; font-size: 18px; font-family: "微软雅黑"; }
footer div.top .container img:not(:last-child) { margin-right: 30px; }
footer div.bottom { height: 55px; line-height: 55px; background-color: #2f3139; color: #fff; padding: 0 5%; font-size: 12px; }
footer div.bottom span { float: left; }
footer div.bottom a { text-decoration: none; color: #fff; float: right; }

/*# sourceMappingURL=task07.css.map */
